In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/salary-prediction-data/salary_prediction_data.csv

In [3]:
df = pd.read_csv('/kaggle/input/salary-prediction-data/salary_prediction_data.csv')

In [4]:
df

       Education  Experience  Location Job_Title  Age  Gender         Salary
0    High School           8     Urban   Manager   63    Male   84620.053665
1            PhD          11  Suburban  Director   59    Male  142591.255894
2       Bachelor          28  Suburban   Manager   61  Female   97800.255404
3    High School          29     Rural  Director   45    Male   96834.671282
4            PhD          25     Urban   Analyst   26  Female  132157.786175
..           ...         ...       ...       ...  ...     ...            ...
995  High School           8  Suburban   Analyst   25  Female   64683.389864
996  High School          24     Urban  Engineer   30  Female   74468.205020
997       Master          18     Rural   Analyst   44    Male   98207.026024
998     Bachelor          27  Suburban  Director   31  Female  108544.922720
999  High School          25     Urban  Director   41  Female   71077.000066

[1000 rows x 7 columns]

In [5]:
df.shape

(1000, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Education   1000 non-null   object
 1   Experience  1000 non-null   int64
 2   Location    1000 non-null   object
 3   Job_Title   1000 non-null   object
 4   Age         1000 non-null   int64
 5   Gender      1000 non-null   object
 6   Salary      1000 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

In [7]:
df['Education'].value_counts()

Education
High School    255
Bachelor       253
PhD            251
Master         241
Name: count, dtype: int64

In [8]:
df.isna().sum()

Education     0
Experience    0
Location      0
Job_Title     0
Age           0
Gender        0
Salary        0
dtype: int64

In [9]:
objects = []
for col in df.columns:
    if df[col].dtypes not in ['int64', 'float64']:
        objects.append(col)

In [10]:
objects

['Education', 'Location', 'Job_Title', 'Gender']

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
encoders = {}
for col in objects:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    encoders[col] = le

In [13]:
df

     Education  Experience  Location  Job_Title  Age  Gender         Salary
0            1           8         2          3   63       1   84620.053665
1            3          11         1          1   59       1  142591.255894
2            0          28         1          3   61       0   97800.255404
3            1          29         0          1   45       1   96834.671282
4            3          25         2          0   26       0  132157.786175
..         ...         ...       ...        ...  ...     ...            ...
995          1           8         1          0   25       0   64683.389864
996          1          24         2          2   30       0   74468.205020
997          2          18         0          0   44       1   98207.026024
998          0          27         1          1   31       0  108544.922720
999          1          25         2          1   41       0   71077.000066

[1000 rows x 7 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Education   1000 non-null   int64
 1   Experience  1000 non-null   int64
 2   Location    1000 non-null   int64
 3   Job_Title   1000 non-null   int64
 4   Age         1000 non-null   int64
 5   Gender      1000 non-null   int64
 6   Salary      1000 non-null   float64
dtypes: float64(1), int64(6)
memory usage: 54.8 KB

In [15]:
df.describe()

,Education,Experience,Location,Job_Title,Age,Gender,Salary
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.490000,14.771000,0.965000,1.456000,42.377000,0.516000,105558.404239
std,1.122123,8.341111,0.808968,1.114139,13.609412,0.499994,28256.972075
min,0.000000,1.000000,0.000000,0.000000,20.000000,0.000000,33510.510669
25%,0.000000,7.000000,0.000000,0.000000,30.000000,0.000000,85032.141517
50%,1.000000,15.000000,1.000000,1.000000,43.000000,1.000000,104314.518315
75%,3.000000,22.000000,2.000000,2.000000,55.000000,1.000000,126804.047524
max,3.000000,29.000000,2.000000,3.000000,64.000000,1.000000,193016.602150

In [16]:
encoders['Gender'].inverse_transform([0, 1])

array(['Female', 'Male'], dtype=object)

In [17]:
x = df.drop(columns=['Salary'])
y = df['Salary']

In [18]:
x

     Education  Experience  Location  Job_Title  Age  Gender
0            1           8         2          3   63       1
1            3          11         1          1   59       1
2            0          28         1          3   61       0
3            1          29         0          1   45       1
4            3          25         2          0   26       0
..         ...         ...       ...        ...  ...     ...
995          1           8         1          0   25       0
996          1          24         2          2   30       0
997          2          18         0          0   44       1
998          0          27         1          1   31       0
999          1          25         2          1   41       0

[1000 rows x 6 columns]

In [19]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [20]:
x

array([[0.33333333, 0.25      , 1.        , 1.        , 0.97727273,
        1.        ],
       [1.        , 0.35714286, 0.5       , 0.33333333, 0.88636364,
        1.        ],
       [0.        , 0.96428571, 0.5       , 1.        , 0.93181818,
        0.        ],
       ...,
       [0.66666667, 0.60714286, 0.        , 0.        , 0.54545455,
        1.        ],
       [0.        , 0.92857143, 0.5       , 0.33333333, 0.25      ,
        0.        ],
       [0.33333333, 0.85714286, 1.        , 0.33333333, 0.47727273,
        0.        ]])

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [26]:
print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

800
800
200
200

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)

In [30]:
rf_model.fit(x_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

In [31]:
y_pred = rf_model.predict(x_test)

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
y_pred

array([ 79974.38375671,  60860.7486221 , 101281.66058875,  98455.655883  ,
        98458.31891535,  64952.36346388,  82824.83987034, 114209.06966202,
       124073.39901223, 105982.54113389, 155350.22729281, 161881.89902147,
       119411.67108491,  93097.32291151,  96992.3532361 ,  91459.8774848 ,
       132826.6642106 ,  92364.79795377,  95465.4789145 ,  97481.72742142,
       113966.47856655,  95440.93029357,  74085.43459101, 162663.88969303,
       148228.02521898,  97110.91617161, 105195.15938164,  96321.45578516,
       153427.38074094, 135861.3488268 ,  92065.0542405 ,  66423.2411646 ,
       110039.50036052, 118877.24500674, 128892.80468661, 117414.03258263,
       108272.68700668, 122701.01975942,  97886.5285279 , 153312.46638797,
       128809.18069155, 106842.22856131,  77701.57345413,  97306.999312  ,
        94626.45466943,  70641.81266199, 108808.77226074, 129394.86972348,
       120204.19647779, 108934.75591469,  93692.52174255,  91929.50919587,
       108907.38109426,  99473.61410044,  92089.38443715,  90008.90995535,
        94198.32081588,  94323.69220884,  92008.60414248,  77689.87711194,
       115986.87966544, 124186.51917338, 156659.48374675,  61562.8648172 ,
       146805.70278654, 114213.81796745,  73187.37997171, 123132.05355902,
        93182.11727923,  83922.67933195, 147794.21918837, 122313.39082595,
       143220.84906444, 145072.55883074,  68881.36343527, 108346.04040848,
       115845.22446501,  78271.56186749, 110761.15664594,  81973.67086088,
        56864.34521913, 101794.3496314 ,  90787.60020986,  68587.63521928,
        84794.46414853,  54249.66104602, 121367.26167928, 100847.60270485,
        89639.59267615, 154338.46209608,  88872.34626874, 146986.95004236,
        61074.010058  ,  49135.58731333,  84131.86395137, 134720.04627355,
       131886.53173979, 117669.06234742, 109113.57315166, 106361.84423444,
        90295.60401382, 130948.49461635, 101264.61945032, 106379.4467477 ,
       127181.08180127,  60260.62072762,  77027.27785301,  97497.99220312,
       111258.02919102, 112624.98574978,  69883.92078922,  94415.433962  ,
       108598.71824933,  66949.47945653, 100967.89954691, 152184.28046342,
       124349.96533148, 115627.11099386, 122929.06458361,  91061.68743554,
        88521.62620624,  70730.29280801, 120044.21976563, 132366.09506579,
       132888.40944635, 123678.54611124,  57491.98286452, 157221.3706286 ,
       129241.8659501 , 123156.53071547,  75502.92036948, 122407.27725097,
       156672.75165281,  58803.6271008 ,  95731.27555473,  86274.77017419,
       111093.81521871,  69383.23057044,  97713.17222127, 112245.38246822,
       119274.20872789,  73328.80730522, 116700.7478484 , 150857.98672331,
       125407.09519441,  80221.43202605, 139812.55558244,  94782.3679957 ,
        92671.30043492, 146620.05448248, 136032.47415754, 128048.18758614,
        92520.60273298,  93424.07374638, 115571.10725293,  68905.98351657,
        97877.22075369,  50938.09508234, 125816.61444071, 151686.83014762,
        62740.99556163,  69626.85619589, 111613.06249365,  98315.78310588,
       112394.495735  , 131950.74588434, 145462.93119947, 162684.31787158,
        88812.72128882, 128328.03900747, 139441.00360284, 145866.36794264,
       138961.61892035, 111918.85912225,  69112.79939454, 161778.49525975,
        96466.45897845,  94194.38595346, 107450.65039331, 101245.97383271,
        89894.53443315, 114962.44182876,  98409.5210315 , 131096.67799037,
       110675.28550474,  66626.97585567, 128997.74492974,  66932.57661261,
       116433.34095632,  77251.42007415, 105313.04640619, 123460.34829639,
       140149.55605213,  78165.94587558, 115868.5123422 ,  64184.9185931 ,
        91891.58252243,  75297.07231011, 157868.47827037,  87618.47868227])

In [35]:
y_test

521     86677.840109
737     56036.163010
740     92226.871819
660    100710.088052
411     91775.012832
           ...
408     62915.445683
332     92041.749991
208     85534.397486
613    164373.967469
78      93375.479141
Name: Salary, Length: 200, dtype: float64

In [36]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [37]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

In [38]:
print(f"Mean Absolute Error (MAE): ${mae:,.2f}")
print(f"Mean Squared Error (MSE): ${mse:,.2f}")
print(f"Root Mean Squared Error (RMSE): ${rmse:,.2f}")
print(f"R-squared (R2): {r2:.4f}")

Mean Absolute Error (MAE): $9,316.34
Mean Squared Error (MSE): $127,409,817.49
Root Mean Squared Error (RMSE): $11,287.60
R-squared (R2): 0.8440

In [39]:
sample_df = pd.DataFrame({'Actual': y_test.head(10), 'Predicted': y_pred[:10].round(2)})
print(sample_df)

            Actual  Predicted
521   86677.840109   79974.38
737   56036.163010   60860.75
740   92226.871819  101281.66
660  100710.088052   98455.66
411   91775.012832   98458.32
678   52282.492625   64952.36
626  102139.813085   82824.84
513  127491.152115  114209.07
859  117342.186715  124073.40
136   99647.042817  105982.54

In [40]:
import joblib

model_dir = 'model_assets'
os.makedirs(model_dir, exist_ok=True) 

model_path = os.path.join(model_dir, 'random_forest_model.joblib')
joblib.dump(rf_model, model_path)
print(f"Random Forest Model exported to: {model_path}")

encoders_path = os.path.join(model_dir, 'label_encoders_dict.joblib')
joblib.dump(encoders, encoders_path)
print(f"Label Encoders dictionary exported to: {encoders_path}")

print("\nExport complete. These files are ready for deployment.")

Random Forest Model exported to: model_assets/random_forest_model.joblib
Label Encoders dictionary exported to: model_assets/label_encoders_dict.joblib

Export complete. These files are ready for deployment.

In [41]:
encoders

{'Education': LabelEncoder(),
 'Location': LabelEncoder(),
 'Job_Title': LabelEncoder(),
 'Gender': LabelEncoder()}

In [42]:
scaler_path = os.path.join(model_dir, 'minmax_scaler.joblib')
joblib.dump(scaler, scaler_path)

['model_assets/minmax_scaler.joblib']